<template>
  <div class="wrapper">
    <div class="logo-wrapper">
      <img class="logo" src="../../assets/logo.png">
    </div>
    <va-loading v-if="loading" size="lg" color="blue" center></va-loading>
    <va-form class="signin-form" ref="form" type="vertical">
      <va-form-item label="Host URL" need>
        <va-input
          v-model="form.host"
          name="host"
          placeholder="https://host.atlassian.net"
          :rules="[{type: 'required', tip: 'Host URL is needed'}]"
          clearable
        />
      </va-form-item>
      <va-form-item label="Email" need>
        <va-input
          v-model="form.email"
          name="email"
          placeholder="Your Email"
          :rules="[{type:'email', tip:'Invalid email address'}]"
          clearable
        />
      </va-form-item>
      <va-form-item label="API Token" need>
        <va-input
          v-model="form.password"
          name="password"
          type="password"
          placeholder="API Token"
          :rules="[{type:'required', tip:'API Token is needed'}]"
          clearable
          @keyup.enter="submit"
        />
      </va-form-item>
      <va-form-item>
        <a
          target="_blank"
          href="https://confluence.atlassian.com/cloud/api-tokens-938839638.html"
        >How to generate an API Token</a>
      </va-form-item>
      <va-form-item>
        <va-button type="primary" @click="submit">Submit</va-button>&nbsp;
        <va-button @click="clearForm">Clear</va-button>
      </va-form-item>
    </va-form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "SignIn",
  data() {
    return {
      form: {
        host: "https://",
        email: "",
        password: ""
      }
    };
  },
  computed: {
    ...mapState("auth", ["loading", "error", "loggedIn"])
  },
  watch: {
    error(error) {
      if (error) {
        this.notification.danger({
          title: `Error Trying to Login`,
          message: `There was an error trying to login, the server responded with: <br/> <b>${error}</b>`,
          duration: 3000
        });
      }
    },
    loggedIn(status) {
      if (status) {
        this.$router.push("/home");
      }
    }
  },
  methods: {
    ...mapActions("auth", {
      login: "login"
    }),
    submit() {
      this.$refs.form.validateFields(result => {
        const { host, email, password } = this.form;
        if (result.isvalid) {
          this.login({ host, email, password });
        }
      });
    },
    clearForm() {
      this.form = {
        host: "",
        email: "",
        password: ""
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  align-self: center;
}
.signin-form {
  padding: 1rem;
  border-radius: 10px;
  width: 320px;
  background: #f2f2f2;
  border: 3px solid #596b88;
}

.logo-wrapper {
  margin: 1rem;
}
.logo {
  margin: 0 auto;
  width: 100px;
  display: flex;
}
</style>
