<template>
    <div class="landing-wrapper">
        <SignIn/>
    </div>
</template>

<script>
import SignIn from '../../components/SignIn';
export default {
    name: 'Landing',
    components: {
        SignIn,
    }
};
</script>

<style scoped>
.landing-wrapper {
    width: 100%;
    display: flex;
    height: 90vh;
    justify-content: center;
}
</style>
