<template>
    <div class="dashboard">
        <Projects :welcomeMsg="welcomeMsg" :avatarUrl="this.currentUser.avatarUrls['48x48']"/>
    </div>
</template>
<script>
import { mapState } from 'vuex';
import Projects from '../../components/Projects';
export default {
    name: 'Dashboard',
    data() {
        return {
            welcomeMsg: '',
        }
    },
    computed: {
        ...mapState('auth', ['currentUser'])
    },
    mounted() {
        this.welcomeMsg = `Welcome, ${this.currentUser.displayName}!`
    },
    components: {
        Projects,
    }
}
</script>
<style lang="scss" scoped>
.dashboard {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
}
</style>
