<template>
    <div class="project-log">
        <IssueListing
            :isLoading="loading"
            :issues="issues"
            :project="keyId"
            :onShowLog="onShowLog"
            :logs="logs"
        />
    </div>
</template>


<script>
import { mapActions, mapState } from 'vuex';
import IssueListing from '../../components/IssueListing';
export default {
    name: 'ProjectLog',
    props: {
        keyId: String,
    },
    methods: {
        ...mapActions('issues', {
            getIssues: 'getIssues',
            getLog: 'getIssueLog',
        }),
        onShowLog(key) {
            this.getLog(key);
        }
    },
    computed: {
        ...mapState('issues', ['issues', 'logs', 'loading', 'error'])
    },
    watch: {
        error(log) {
            if (log) {
                this.notification.danger({
                    title: `Error Fetching Issues`,
                    message: `Server responded with: <br/> <b>${log}</b> <br> Check if it's a valid project.`,
                    duration: 3000,
                });
            }
        }
    },
    mounted() {
        this.getIssues(this.keyId);
    },
    components: {
        IssueListing
    }
}
</script>

<style lang="scss" scoped>
.project-log {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
}
</style>

