<template>
  <va-modal
    :title="getIssueTitle()"
    id="issueModal"
    ref="issueModal"
    :backdrop-clickable="backdropClickable"
  >
    <div class="issue" slot="body">
      <va-loading class="loading-container" v-if="isLoading" size="lg" color="blue"></va-loading>
      <div class="issue-info" v-if="!isLoading">
        <va-row :gutter="5">
          <va-column :xs="10" :sm="6" :md="4">
            <div>
              <h3>Assignee</h3>
              <b>{{getAssignee()}}</b>
            </div>
          </va-column>
          <va-column :xs="10" :sm="6" :md="4">
            <div>
              <h3>Status</h3>
              <va-badge class="badge">{{getIssueStatus()}}</va-badge>
            </div>
          </va-column>
          <va-column :xs="10" :sm="6" :md="4">
            <div>
              <h5>Created</h5>
              <span
                class="date"
              >{{ issue.fields ? new Date(issue.fields.created).toLocaleString('en-US', dateOptions) : '' }}</span>
              <h5>Updated</h5>
              <span
                class="date"
              >{{ issue.fields ? new Date(issue.fields.updated).toLocaleString('en-US', dateOptions) : '' }}</span>
            </div>
          </va-column>
        </va-row>
        <va-row :gutter="5">
          <h2 v-if="issueLogs.length === 0">No Activity Log</h2>
          <va-column :xs="6">
            <div v-if="issueLogs.length !== 0" class="log-listing">
              <h3>Activity</h3>
              <div class="log-item" v-for="log in issueLogs" :key="log.id">
                <label class="status-label">
                  Status Changed
                  <i class="status-date">{{getStatusDate(log.date)}}</i>
                </label>
                <va-badge class="badge">{{log.from}}</va-badge>
                <va-icon class="arrow-icon" type="arrow-right"></va-icon>
                <va-badge class="badge">{{log.to}}</va-badge>
              </div>
            </div>
          </va-column>
        </va-row>
        <va-row :gutter="5">
          <va-column>
            <va-badge
              v-if="issueDone()"
              class="completed-badge"
              type="success"
            >{{ getTotalTimeSpent() }}</va-badge>
          </va-column>
        </va-row>
      </div>
    </div>
    <div slot="footer"></div>
  </va-modal>
</template>

<script>
import { timeSpan } from "../../utils/timeSpan";
export default {
  name: "IssueLog",
  data() {
    return {
      backdropClickable: true,
      dateOptions: {
        weekday: "short",
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric"
      },
      issueLogs: []
    };
  },
  props: {
    refKey: String,
    issue: Object,
    logs: Array,
    title: String,
    isLoading: Boolean
  },
  methods: {
    getIssueStatus() {
      const {
        issue: { fields }
      } = this;
      return fields ? fields.status.name : "";
    },
    getIssueTitle() {
      const { issue } = this;
      return issue.fields
        ? issue.fields.summary
          ? issue.fields.summary
          : ""
        : "";
    },
    getAssignee() {
      const { issue } = this;
      return issue.fields
        ? issue.fields.assignee
          ? issue.fields.assignee.displayName
          : "Unassigned"
        : "Unassigned";
    },
    issueDone() {
      if (this.issue.fields) {
        const {
          status: { statusCategory }
        } = this.issue.fields;
        return statusCategory.key === "done";
      }
      return false;
    },
    getTotalTimeSpent() {
      if (this.issue.fields) {
        if (this.issueDone()) {
          const { created, updated } = this.issue.fields;
          const startDate = new Date(created);
          const completedDate = new Date(updated);
          const dateFormat = {
            past: [
              { ceiling: 60, text: "$minutes minutes" },
              {
                ceiling: 86400,
                text: "$hours hours, $minutes minutes and $seconds seconds"
              },
              { ceiling: null, text: "$years years" }
            ],
            future: [
              { ceiling: 60, text: "in less than a minute" },
              {
                ceiling: 86400,
                text:
                  "in $hours hours, $minutes minutes and $seconds seconds time"
              },
              { ceiling: null, text: "in $years years" }
            ]
          };
          return `Completed in ${timeSpan(
            startDate,
            completedDate,
            dateFormat
          )}`;
        }
      }
      return "";
    },
    getStatusDate(date) {
      return timeSpan(date);
    }
  },
  watch: {
    logs(data) {
      this.issueLogs = data.map(log => ({
        id: `${log.status.from}-${log.status.to}`,
        from: log.status.fromString,
        to: log.status.toString,
        date: new Date(log.created).toLocaleString("en-US", {
          day: "numeric",
          year: "numeric",
          hour: "numeric",
          minute: "numeric",
          second: "numeric",
          month: "short"
        })
      }));
    }
  }
};
</script>

<style lang="scss" scoped>
.btn-group {
  text-align: center;
}
.modal-btn {
  cursor: pointer;
}
.date {
  font-size: 12px;
}
.badge {
  background: #3b4e6f;
  color: #fefefe;
}
.arrow-icon {
  margin: 0.5rem !important;
}
.status-label {
  display: block;
}
.status-date {
  font-weight: lighter;
  color: gray;
}
.log-listing {
  display: block;
}
.log-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.issue {
  min-height: 500px;
}
.issue-info {
  position: relative;
}
.loading-container {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 50vh;
  position: absolute;
}
.completed-badge {
  font-size: 15px;
  background: #299196;
}
</style>
