<template>
  <div class="issue-listing">
    <h2>{{project}}</h2>
    <IssueLog :isLoading="isLoading" ref="issueModal" :issue="currentIssue" :logs="logs"/>
    <h3 class="header-title">Issue List</h3>
    <va-table :hover="true" size="lg">
      <table class="issue-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Log</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="issue in issues" :key="issue.id">
            <td>{{issue.fields.summary}}</td>
            <td>{{issue.fields.assignee ? issue.fields.assignee.displayName : 'Unassigned'}}</td>
            <td>{{issue.fields.status.name}}</td>
            <td>
              <va-button @click="() => showLog(issue)" class="log-btn">View Log</va-button>
            </td>
          </tr>
        </tbody>
      </table>
    </va-table>

    <va-button
      v-if="!isLoading"
      @click="downloadReport"
      class="report-btn"
      type="success"
    >Generate Log Report</va-button>
  </div>
</template>

<script>
import IssueLog from "../IssueLog";
import { timeSpan } from "../../utils/timeSpan";
import { generateLog } from "../../utils/logger";
import { saveAs } from "file-saver";
export default {
  name: "IssueListing",
  data() {
    return {
      currentIssue: {},
      dateFormat: {
        past: [
          { ceiling: 60, text: "$minutes minutes" },
          {
            ceiling: 86400,
            text: "$hours hours, $minutes minutes and $seconds seconds"
          },
          { ceiling: null, text: "$years years" }
        ],
        future: [
          { ceiling: 60, text: "in less than a minute" },
          {
            ceiling: 86400,
            text: "in $hours hours, $minutes minutes and $seconds seconds time"
          },
          { ceiling: null, text: "in $years years" }
        ]
      }
    };
  },
  props: {
    issues: Array,
    logs: Array,
    project: String,
    onShowLog: Function,
    isLoading: Boolean
  },
  methods: {
    showLog(issue) {
      const modal = this.$refs.issueModal.$children.find(
        child => child.$attrs.id === "issueModal"
      );
      this.currentIssue = issue;
      if (this.onShowLog) this.onShowLog(issue.key);
      modal.open();
    },
    issueDone(fields) {
      if (fields) {
        const {
          status: { statusCategory }
        } = fields;
        return statusCategory.key === "done";
      }
      return false;
    },
    downloadReport() {
      const data = this.issues.map(({ fields }) => {
        const name = fields.summary;
        const assignee = fields.assignee
          ? fields.assignee.displayName
          : "Unassigned";
        const status = fields.status.name;
        const startDate = new Date(fields.created);
        const endDate = new Date(fields.updated);
        const timespent = this.issueDone(fields)
          ? `${timeSpan(startDate, endDate, this.dateFormat)}`
          : "Not Completed";
        return {
          name,
          assignee,
          status,
          timespent
        };
      });
      saveAs(generateLog(data), `${this.project}-log-report.xlsx`);
    }
  },
  components: {
    IssueLog
  }
};
</script>

<style lang="scss" scoped>
.issue-listing {
  width: 600px;
  text-align: center;
}
.log-btn {
  background: #3b4e6f;
  color: #fefefe;
  cursor: pointer;
  &:hover {
    background: #596b88;
    color: #fefefe;
  }
}
.report-btn {
  display: flex;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  justify-content: center;
  align-self: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
.header-title {
  text-align: left;
}
</style>
