<template>
    <div class="notfound">
        <div class="content-message">
            <h1>Oops! Error 404, The page you're looking for doesn't exist.</h1>
            <p>
                Unless you where looking for this page, if that's the case,
                Congrats! You totally did it! :)
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'NotFound',
}
</script>

<style lang="scss" scoped>
.notfound {
    width: 100%;
    display: flex;
    height: 60vh;
    justify-content: center;
}
.content-message {
    align-self: center;
}
</style>
